body {
    font-family: "Roboto";
    weight: "Regular";
    size: "16px";
    letter-spacing: 2%;
    line-height: 24px;
    color: #434455;
    background-color: ;
}
.navigation {
    color: #2E2F42;
}
.accent {
    color: #4D5AE5;
}
.adres {
    color: #434455;
}
a:link {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.dark {
    background-color: #2E2F42;
}